@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-inter: "Inter", sans-serif;
}

body {
  @apply font-inter;
  
}

html {
  scroll-behavior: smooth;
}

.highlight {
  background: linear-gradient(transparent 70%, #fff3a6 70%);
  padding: 0 2px;
}

html, body {
  overflow-x: hidden;
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(5px); }
  15% { opacity: 1; transform: translateY(0); }
  85% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-5px); }
}

.animate-fade {
  animation: fadeInOut 1.5s ease-in-out forwards;
}

@keyframes wave {
  0% { transform: rotate(0deg); }
  15% { transform: rotate(14deg); }
  30% { transform: rotate(-8deg); }
  40% { transform: rotate(14deg); }
  50% { transform: rotate(-4deg); }
  60% { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}

.animate-wave {
  animation: wave 1.6s infinite;
  transform-origin: 70% 70%;
}

.theme-transition html,
.theme-transition body,
.theme-transition [class*="dark"] {
  transition:
    background-color 0.35s ease,
    color 0.35s ease,
    border-color 0.35s ease,
    fill 0.35s ease,
    stroke 0.35s ease;
}